<div class="popup-wishlist-full" data-popup-content>
    <div class="popup-wishlist-full__head">
        <i class="popup-wishlist-full__close ml-auto cursor-pointer" data-js-popup-close></i>
    </div>
    <div class="popup-wishlist-full__content"></div>
</div>