<div id="nt_wishlist_canvas" class="popup-wishlist hero_canvas " data-popup-content>
  	<div class="mini_header"><h3 class="widget-title">{{ 'general.wishlist.title' | t }}</h3><i class="close_popup_ajax fa fa-close"></i></div>
    <div class="popup-wishlist_content popup_content js-popup-inner">
        <div class="popup-wishlist_items list-item"></div>
        <div class="popup-wishlist_buttons">
            <a href="/wishlist" class="btn btn--full js-popup-button" data-js-popup-button="wishlist-full">{{ 'general.wishlist.view' | t }}</a>
        </div>
      	<div class="popup-wishlist_empty">{{ 'general.wishlist.empty' | t }}</div>
    </div>
    
</div>