{%- if compare_at_price > price -%}
	<span class="price price--sale" data-js-product-price><span>{{ compare_at_price | money }}</span>{% if settings.price_show_sale_separator %}{{ 'products.product.price_sale_separator' | t }}{% endif %}<span>{{ price | money }}</span></span>
{%- else -%}
	<span class="price" data-js-product-price><span>{{ price | money }}</span></span>
{%- endif -%}