<a href="{{ url }}" data-pid="{{ current_variant_id }}" class="js_quick_view button-quick-view"
   data-js-popup-button="quick-view"              
   data-js-tooltip
   data-tippy-content="{{ 'products.product.tooltip.quick_view' | t }}"
   data-tippy-placement="left"
   data-tippy-distance="5"               
   >
  <i class="las la-eye"></i>
</a>