// Text colors
$color-text: #e5534c;
$color-body-text: #333333;
$color-sale-text: #222222;
$color-small-button: #ffffff;
$color-small-button-text: #3d4246;
$color-text-field: #fff;
$color-text-field-text: #000;
$color-navigation-text: #e5534c;

// Button colors
$color-btn-primary: #aaaaaa;
$color-btn-primary-text: #ffffff;

// Link buttons and secondary cta
$color-link: $color-text;

// Backgrounds
$color-body: #fff;
$color-bg: #fff;

// Border colors
$color-border: #e6e6e6;


/*Lookbook Image section */
.wrap_title{
 	margin-bottom:30px; 
}
.section-title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  	margin: 0;
  	justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
  	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  	position: relative;
  	text-align: center;
}
.section-subtitle {
    font-size: 14px;
    font-weight: 400;
  	color: rgb(135, 135, 135);
  	font-family: serif;
    font-style: italic;
    font-size: 14px;    
    margin-top: 0;
  	text-align: center;
  	display: block;
}
.pin__maker{
  	position: relative;
}
.pin__image {
  background-size: cover;
}
.pin__size--medium {
    width: 32px;
    height: 32px;
    font-size: 12px;
}
.pin__type .zoompin {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    display: block;
    -webkit-animation: 2s infinite zoompin;
    animation: 2s infinite zoompin;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 800px;
    perspective: 800px;
    background-color: rgba(255,255,255,.5);
}
.pin__type .pin_tt {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 1;
    background-color: #65affa;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pin__type .nav_link_icon {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.pin__type .nav_link_icon:before {
    width: 12px;
    height: 1px;
    opacity: 1;
}
.pin__type .nav_link_icon:after {
    width: 1px;
    height: 12px;
}
.pin__type .nav_link_icon:after,.pin__type .nav_link_icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
}
.pin__type {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    z-index: 10;
    opacity: 1;
    pointer-events: auto;
}
.pin__type.pin__opened>div {
    pointer-events: auto;
}
.pin__type .product-item:hover .product-inner{
  	box-shadow: none!important;
}
.pin__popup {
    width: 260px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 100;
    border-radius: 2px;
  	position:absolute;
}
.pin__popup--top .pin__popup, .pin__popup.pin__popup--top {
    bottom: calc(100% - -20px);
    bottom: -webkit-calc(100% - -20px);
}
.pin__popup--bottom .pin__popup, .pin__popup--top .pin__popup, .pin__popup.pin__popup--bottom, .pin__popup.pin__popup--top {
    left: calc(50% - 130px);
    left: -webkit-calc(50% - 130px);
}
.pin__type.pin__opened .pin__popup {
    opacity: 1;
    visibility: visible;
  	
}
.pin__popup:before, .pin__title:before {
    content: "";
    position: absolute;
    display: none;
}
.pin__popup:before {
    border: 10px solid transparent;
}

.pin__popup.pin__popup--top,.pin__popup--top .pin__popup {
    bottom: calc(100% - -20px);
    bottom: -webkit-calc(100% - -20px)
}

.pin__popup.pin__popup--top:before,.pin__popup--top .pin__popup:before {
    border-top: 10px solid #fff;
    left: calc(50% - 10px);
    left: -webkit-calc(50% - 10px);
    bottom: -19px
}

.pin__popup.pin__popup--bottom,.pin__popup--bottom .pin__popup {
    top: calc(100% - -20px)
}

.pin__popup.pin__popup--bottom:before,.pin__popup--bottom .pin__popup:before {
    border-bottom: 10px solid #fff;
    left: calc(50% - 10px);
    left: -webkit-calc(50% - 10px);
    top: -20px
}

.pin__popup.pin__popup--right,.pin__popup--right .pin__popup {
    left: calc(100% - -20px);
    left: -webkit-calc(100% - -20px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.pin__popup.pin__popup--right:before,.pin__popup--right .pin__popup:before {
    border-right: 10px solid #fff;
    left: -20px;
    top: calc(50% - 10px);
    top: -webkit-calc(50% - 10px)
}

.pin__popup.pin__popup--left,.pin__popup--left .pin__popup{
    right: calc(100% - -20px);
    right: -webkit-calc(100% - -20px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.pin__popup.pin__popup--left:before,.pin__popup--left .pin__popup:before {
    border-left: 10px solid #fff;
    right: -20px;
    top: calc(50% - 10px);
    top: -webkit-calc(50% - 10px)
}
.pin__popup.pin__popup--top,.pin__popup--top .pin__popup, .pin__popup.pin__popup--bottom,.pin__popup--bottom .pin__popup {
  left: calc(50% - 130px);
  left: -webkit-calc(50% - 130px);
}
.pin__popup.pin__popup--zoom,.pin__popup--zoom .pin__popup {
    -webkit-transform: scale(0);
    transform: scale(0)
}
.pin__popup.pin__popup--zoom.pin__popup--right, .pin__popup.pin__popup--zoom.pin__popup--left,
.pin__popup--zoom.pin__popup--right .pin__popup, .pin__popup--zoom.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0)
}
.pin__opened .pin__popup.pin__popup--zoom.pin__popup--top, .pin__opened .pin__popup.pin__popup--zoom.pin__popup--bottom,
.pin__opened .pin__popup--zoom.pin__popup--top .pin__popup, .pin__opened .pin__popup--zoom.pin__popup--bottom .pin__popup {
    -webkit-transform: scale(1);
    transform: scale(1)
}
.pin__opened .pin__popup.pin__popup--zoom.pin__popup--right, .pin__opened .pin__popup.pin__popup--zoom.pin__popup--left,
.pin__opened .pin__popup--zoom.pin__popup--right .pin__popup, .pin__opened .pin__popup--zoom.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1)
}
.pin__popup.pin__popup--sup,.pin__popup--sup .pin__popup {
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
}
.pin__popup.pin__popup--sup.pin__popup--right, .pin__popup.pin__popup--sup.pin__popup--left,
.pin__popup--sup.pin__popup--right .pin__popup, .pin__popup--sup.pin__popup--left .pin__popup{
    -webkit-transform: translateY(calc(-50% - -30px));
    transform: translateY(calc(-50% - -30px))
}
.pin__opened .pin__popup.pin__popup--sup.pin__popup--right, .pin__opened .pin__popup.pin__popup--sup.pin__popup--left, .pin__opened .pin__popup.pin__popup--sdown.pin__popup--right, .pin__opened .pin__popup.pin__popup--sdown.pin__popup--left,
.pin__opened .pin__popup--sup.pin__popup--right .pin__popup, .pin__opened .pin__popup--sup.pin__popup--left .pin__popup, .pin__opened .pin__popup--sdown.pin__popup--right .pin__popup, .pin__opened .pin__popup--sdown.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.pin__popup.pin__popup--sdown,.pin__popup--sdown .pin__popup {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px)
}
.pin__popup.pin__popup--sdown.pin__popup--right, .pin__popup.pin__popup--sdown.pin__popup--left,
.pin__popup--sdown.pin__popup--right .pin__popup, .pin__popup--sdown.pin__popup--left .pin__popup {
    -webkit-transform: translateY(calc(-50% -30px));
    transform: translateY(calc(-50% -30px))
}
.pin__popup.pin__popup--sleft,.pin__popup--sleft .pin__popup {
    -webkit-transform: translateX(30px);
    transform: translateX(30px)
}
.pin__popup.pin__popup--sleft.pin__popup--right, .pin__popup.pin__popup--sleft.pin__popup--left,
.pin__popup--sleft.pin__popup--right .pin__popup, .pin__popup--sleft.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) translateX(30px);
    transform: translateY(-50%) translateX(30px)
}
.pin__opened .pin__popup.pin__popup--sleft.pin__popup--right, .pin__opened .pin__popup.pin__popup--sleft.pin__popup--left, .pin__opened .pin__popup.pin__popup--sright.pin__popup--right, .pin__opened .pin__popup.pin__popup--sright.pin__popup--left,
.pin__opened .pin__popup--sleft.pin__popup--right .pin__popup, .pin__opened .pin__popup--sleft.pin__popup--left .pin__popup, .pin__opened .pin__popup--sright.pin__popup--right .pin__popup, .pin__opened .pin__popup--sright.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0)
}
.pin__popup.pin__popup--sright, .pin__popup--sright .pin__popup {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px)
}
.pin__popup.pin__popup--sright.pin__popup--right, .pin__popup.pin__popup--sright.pin__popup--left,
.pin__popup--sright.pin__popup--right .pin__popup, .pin__popup--sright.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) translateX(-30px);
    transform: translateY(-50%) translateX(-30px)
}
.pin__popup.pin__popup--rotate,.pin__popup--rotate .pin__popup {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg)
}
.pin__popup.pin__popup--rotate.pin__popup--right, .pin__popup.pin__popup--rotate.pin__popup--left,
.pin__popup--rotate.pin__popup--right .pin__popup, .pin__popup--rotate.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) rotateY(360deg);
    transform: translateY(-50%) rotateY(360deg)
}
.pin__opened .pin__popup.pin__popup--rotate.pin__popup--right, .pin__opened .pin__popup.pin__popup--rotate.pin__popup--left,
.pin__opened .pin__popup--rotate.pin__popup--right .pin__popup, .pin__opened .pin__popup--rotate.pin__popup--left .pin__popup {
    -webkit-transform: translateY(-50%) rotateY(0deg);
    transform: translateY(-50%) rotateY(0deg)
}
.pin__opened .pin__popup.pin__popup--sup, .pin__opened .pin__popup.pin__popup--sdown,
.pin__opened .pin__popup--sup .pin__popup, .pin__opened .pin__popup--sdown .pin__popup {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.pin__opened .pin__popup.pin__popup--sleft, .pin__opened .pin__popup.pin__popup--sright,
.pin__opened .pin__popup--sleft .pin__popup, .pin__opened .pin__popup--sright .pin__popup {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}
.pin__opened .pin__popup.pin__popup--rotate,
.pin__opened .pin__popup--rotate .pin__popup {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.mfp-wrap .pin__popup {
    width: 100%;
}
.mfp-wrap .pin_lazy_js .pin__popup {
    width: 300px;
}
.mfp-wrap .pin__popup:before {
    display: none
}
.mfp-auto-cursor .mfp-content.mfp__pin {
    width: auto;
}
.mfp__pin .pin__popup {
    position: static;
    transform: none !important;
    opacity: 1;
    visibility: visible;
}
.pin__type_txt .popup__title {
    padding: 10px 15px;
    font-size: 16px;
    color: #2b2b2b;
}
.pin__type_txt .popup__content {
    border-top: 2px solid #f2f2f2;
    color: #878787;
    font-size: 14px;
    padding: 15px;
}
.product-item .group-button-lookbook {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}
.product-item .group-button-lookbook .inner {
    overflow: hidden;
    background-color: #fff;
    padding: 0 10px 25px 10px;
    margin-top: -10px;
    text-align: left;
}
.product-item .group-button-lookbook a{
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #666;
    margin: 4px 0 4px 4px;
    background-color: #fff;
}
.product-item .group-button-lookbook .add-to-cart, .product-item .group-button-lookbook .btn-sold-out, .product-item .group-button-lookbook .select-option {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 14px;
    margin-left: 0;
    margin-right: 4px;
    float: left;
    text-align: center;
    font-weight: 600;
}
.product-item .group-button-lookbook {
    opacity: 1;
    display: flex;
    visibility: visible;    
}
.product-item .group-button-lookbook a{
  	margin: 0 auto!important;
  	cursor: pointer;
}
.product-item .group-button-lookbook a:hover{
  	background-color:$color-link;
  	color:#fff;
}
.pin__popup .quickview-button{
 	opacity:1 !important; 
}

@media (min-width: 768px){
  .pin__popup:before, .pin__title:before {
    display: block;
  }
  .section-title {
       font-size: 24px;
       font-weight: 600; 
       text-transform: uppercase;
    }
    .section-subtitle {
      font-size: 14px;
    	font-weight: 400;
    }
}
@media (min-width: 1366px){
  .type_lookbook_img .pin__type .pin_tt.mfp_js {
      display: none;
  }
  .pin__type .mfp-hide {
    display: block !important;
  }
}

/*End lookbook Image section */

/*Shipping section */
/*FEATRUE-BOX*/
.featrue-box {
  display: table;
  margin: 0 auto;
  padding: 30px 0;
}
.featrue-box-list {
  background-color: #f8f8f8;
  margin: 20px 0;
}
.main-content-home2 .featrue-box-list {
  margin-bottom: 0;
}
.featrue-box-list .featrue-item {
  border-left: solid 1px #e1e1e1;
}
.featrue-box .block-icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
.featrue-box .block-icon a {
  font-size: 30px;
}
.featrue-box .block-inner {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.featrue-box .block-inner .title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}
.featrue-box .block-inner .des {
  font-size: 13px;
  color: #888;
  margin: 0;
}

.featrue-box.layout2 {
  text-align: center;
  padding: 7px 0;
  width: 100%;
  border: solid 1px $color-border;
}
.featrue-box.layout2 .block-icon,
.featrue-box .block-inner {
  display: block;
}
.featrue-box.layout2 .block-inner .title {
  font-size: 14px;
}
.featrue-box.layout2 .block-inner .des {
  margin-top: -5px;
}

.section-head {
  background-color: #f4f4f4;
  border-bottom: solid 2px;
  height: 46px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.section-head .section-title {
  float: left;
  font-size: 15px;
  color: $color-btn-primary-text;
  font-weight: 700;
  height: 52px;
  margin: -6px 0 0;
  line-height: 52px;
  position: relative;
  z-index: 11;
  padding: 0 20px;
  min-width: 270px;
  text-transform: uppercase;
}
.section-head .section-title::after {
  position: absolute;
  content: '';
  border-style: solid;
  border-width: 6px 0 0 5px;
  border-color: transparent transparent transparent $color-body-text;
  right: -5px;
  top: 0;
}
.nt_shipping .icon.medium {
    font-size: 36px;
}
.nt_shipping .icon {
    line-height: 100%;
}
.nt_shipping.tl .icon, .nt_shipping.tr .icon {
    text-align: center;
}
.nt_shipping.tl .icon {
    padding-right: 20px;
    color: #9e9e9e;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.nt_shipping .icon {
    line-height: 100%;
}
.nt_shipping {
    margin-right: 0;
    margin-left: 0;
    text-align: left;
    display: table;   
}
.nt_shipping .title {
    font-size: 14px;
  	margin-bottom: 0px;
  	color: #222222;
  	font-weight: 600;
}
.nt_shipping .content{
    color: #878787;
    display: block;
    vertical-align: middle;
}
.nt_shipping .content p{
	margin: 0;
}
/*End shipping section */

/*Blogpost section */
	article .wrapper_img{
      overflow: hidden;
      background: transparent;
      display: block;
      margin-bottom: 15px;
    }
	article .post-info{
      margin-bottom: 10px;
    }
	article .blog-post-title{
      letter-spacing: 0;
      font-size: 16px;
      margin-bottom: 5px;
      margin: 0;
    }
	article .bold{
      color: #222;
      font-weight:600;
    }
	article .post-author{
      margin-right: 5px;
    }
	
    .articles  .slick-active{
        opacity:1; 
    }
    .wrapper_img:hover .lazyloaded {
      transform: scale(1.5);
    }

/*End blogpost section */

/* Instagram lookbook section*/
    .row.ins_spaces_0 {
      margin: 0;
    }
    .row.ins_spaces_0 .item_ins {
      padding: 0;
      overflow: hidden;
      position:relative;
    }
	.wrap_ins_img {
      overflow: hidden;
      position: relative;
      display: block;
      cursor: grab;
    }
    .hotspot_ins {
      cursor: pointer;
      border-radius: 50%;
      text-align: center;
      z-index: 10;
      padding: 0;
      backface-visibility: hidden;
      width: 30px;
      height: 30px;
      font-size: 14px;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 2px solid #000;
      border-top-color: rgb(0, 0, 0);
      border-right-color: rgb(0, 0, 0);
      border-bottom-color: rgb(0, 0, 0);
      border-left-color: rgb(0, 0, 0);
      background-color: #fff;
      color: #000;
      text-shadow: none;
      font-weight: 600;
      overflow: hidden;
      transition: transform .2s ease-out,opacify .2s ease-out;
      opacity: 1;
      position: absolute;
    }
    .hotspot_ins.dark {
      border-color: #eee;
      background-color: #000;
      color: #fff;    
    }
    .hotspot_ins.primary {
      border-color: #eee;
      background-color: $color-link;
      color: #fff;    
    }
    .instagram_lookbook .item_ins:hover .pr_lazy_img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    .instagram_lookbook .nt_bg_lz:before{
      content: "Andy";
      width: 50px;
      height: 50px;
      overflow: hidden;    
      text-indent: 999px;
      position:absolute;
      background-position: top center;
      display: inline-block;
      background-image: url("loading.svg");
      background-repeat: no-repeat;  
      top:38.5%;
      left:38%;
    }
/* End instagram lookbook section*/

/* Promotion banner*/

  .promobox {    
      font-style: normal;
      font-size: 13px;
      line-height: 17px;
      font-weight: 400;
      letter-spacing: 0em;
      position: relative;
      text-align: center;
  }
  .d-block {
      display: block;
  }
  .image-animation {
    overflow: hidden;
  }
  .promobox__plate {
    min-height: 35px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    position: absolute !important;
    pointer-events: none;
    padding:7px 10px;
  }
  .promobox__content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }
  .absolute-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .promobox__content-scale {
    opacity: 0;
    transform: scale3d(0,0,0);
    position: absolute;
    padding:7px 15px;
  }
.promobox__plate--hovered{
  	transition-duration: 0.5s;
}
  .promobox__content-scale {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    transition-duration: 0.5s;
  }
  .promobox__plate .promobox__content::before {
    background-color: #fff;
  }
  .promobox__plate .promobox__content::before {
    content: '';
    display: block;
    opacity: .9;
    transition-property: background;
    will-change: background;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .promobox:hover .promobox__plate--hovered {
    opacity: 0;
    transform: scale3d(0,0,0) translate3d(0,-100%,0);
  }
  .promobox:hover .promobox__content-scale {
    opacity: 0.9;
    transform: none;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 0 #141414;
    -moz-box-shadow: 0 0 1px 0 #141414;
    box-shadow: 0 0 1px 0 #141414;
  }
  .promobox .promobox_text{
    color: #000;
    position: relative;
    font-weight: 600;
    margin: 0px;
    cursor: pointer;
  }
  
/* End promotion banner*/

/* Tab collection */

.tab-content {
  position: relative;
  clear: both;
}
.tab-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  display: block;
}
.tab-panel.active{ 
  position: static;
  opacity: 1;
  visibility:inherit;
}
.nav>li>a:focus, 
.nav>li>a:hover {
  background-color: transparent;
}

.kt-tab .nav > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.kt-tab .nav > li > a {
  font-size: 13px;
  color: #666;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 9px;
  line-height: 46px;
}
.nav-tab-style1 .list-nav {
  float: right;
  margin-right: 78px;
}
  .home-section-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0em;
    font-weight: 400;
    justify-content: center;
    color: #333;
    margin-bottom: 25px;
  }
  
 
  .title-tab-col {
    padding:0 15px;
    margin:0 0 10px 0;
  }
  .home-section-title a:not(.active){
    color: #858585;
    font-weight: 600;
  }
  .home-section-title a.active{
    color: #333;
    font-weight: 600;
  }
  .home-section-title a:hover {
    color: #333 !important;
    font-weight: 600;
  }
.product-collection__image{
 	position:relative;
  	width:100%;
}
  .product-image__overlay-top{
	position: absolute !important;
    padding:10px 10px 0px 10px;
    width: 100% !important;
    flex-wrap: wrap !important;
    display: flex !important;
    top:0px;
    left:0px;
  }
 .product-image__overlay-top .d-none-important{
    display:none!important;
  }
  .absolute-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .product-image__overlay-top-left{
    position: relative !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    display: flex !important;
    margin:0 0 10px 0;
  } 
  .label--in-stock {
    background-color: #25a799;
  }
  .label--out-stock {
    background-color: #858585;
    margin-bottom: 3px !important;
  }
  .label {
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    height: 23px;
    padding: 2px 6px;
    margin-bottom:3px;
  }
  .label--sale {
    background-color: #f54337;
  }
  .product-image__overlay-top-right{
    opacity: 0;
    transition-property: opacity;
    will-change: opacity;
    position: relative !important;
    margin-left: auto !important;
    margin-bottom: 10px !important;
    display: flex !important;
  }
  .button-quick-view {
    background-color: #fff;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    border-radius: 50% !important;
    width:35px;
    height:35px;
  }
  .button-quick-view i{
    font-size:24px; 
  }
  .product-collection__image:hover .product-image__overlay-top-right{
    opacity:1;
  }
  .product-image__overlay-bottom{
	display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-start !important;
    width: 100% !important;
    padding: 0 10px 10px 10px;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
  }
.product-image__overlay-bottom-left{
  	position: relative !important;
  	margin-top: 10px !important;
}
.d-none-important {
    display: none !important;
}
 .product-image__overlay-bottom-right{
   opacity:0;
   transition-property: opacity;
   will-change: opacity;
   position: relative !important;
   margin-left: auto !important;
   margin-top: 10px !important;
   display: block !important;
 }
.product-images-navigation{
  display: flex !important;
}
.product-images-navigation span {
  background-color: #fff;
  width: 35px;
  height: 35px;
  will-change: background-color;
  transition-property: background-color;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50%;
  color:#333;
}
.product-images-navigation span:first-child{
  margin-right:3px;
}
.product-images-navigation span:hover {
    background-color: #141414;
  	cursor:pointer;
}
.product-collection__image:hover .product-image__overlay-bottom-right{
  	opacity: 1;
}
.product-images-navigation span:hover i  {
    color  : #fff;
}
.product-collection__content{
  margin-top: 15px !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  display: flex !important;
}
.product-collection__more-info{
  margin-bottom: 3px !important
}
.product-collection__more-info a{
  color:#858585;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0em;
}
.product-collection__title{
  margin-bottom: 3px !important
}
.product-collection__title > *, .product-compare__title > *, .product-wishlist__title > * {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0em;
    font-weight: 400;
  	margin: 0;
}
.product-collection__title a{
  	color:#333;
}
.product-collection{
  flex-direction: column !important;
  display: flex !important;
}
.sorting-collections__products, .js_carousel_products{
  display: flex;
  flex-wrap: wrap;
}
.frm_product_collection{
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  margin: 0 !important;
}
.product-options__section{
  display: flex !important;
  flex-wrap: wrap !important;
  padding:0 2px;  
}
.product-options--type-collection .product-options__value--circle {
    width: 18px;
    height: 18px;
}
.product-options__value:not(:last-child) {
    margin-right: 10px;
}
.product-options__value--circle.active {
    justify-content: center;
    align-items: center;
}
.product-options__value--circle {
    display: inline-flex;
    position: relative;
}
.product-options__value {
    margin-bottom: 10px;
}
.product-options__value {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
  	cursor:pointer;
}
.standard-color-red {
    background-color: red !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.standard-color-green {
    background-color: green !important;
}
.standard-color-white {
    background-color: #fff !important;
    border: #e5e5e5 1px solid !important;
}
.product-options__value.border {
    border: 1px solid #e5e5e5 !important;
    min-width: 25px;
    min-height: 25px;
    padding: 0 4px;
  	text-align: center;
}
.product-options__value.active {
    border-color: #141414 !important;    
}
[data-js-product-options] [data-js-option-value].disabled {
    display: none !important;
}
.spr.spr--text-hide .spr-badge-caption {
    display: none !important;
}

.product-options__value--circle.active{
    border-color: #141414 !important;
  	border:1px solid;
}
.product-images-navigation span[data-disabled] {
    opacity: .4;
    pointer-events: none;
}
.ajax_loading .product-collection .nt_svg_loader {
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    margin: 0;
  	width:50px;
  	height:50px;
  	background-image: url("loading.svg");
    background-repeat: no-repeat
}
.price--sale > span:first-child span {
    text-decoration: line-through;
}
.price--sale > span:first-child span{
    color: #858585;
  	font-size: 13px;
}
.btn, .spr-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
  	border-radius: 0;
}
.btn[disabled]{
    pointer-events: none;
    opacity: .4;
}
.btn--status:not([data-button-status="added"]) [data-button-content="added"], .btn--status:not([data-button-status="select"]) [data-button-content="select"], .btn--status:not([data-button-status="sold-out"]) [data-button-content="sold-out"] {
    display: none !important;
}
.btn--status[data-button-status=added]>:not([data-button-content=added]) {
    display: none!important;
}

.btn--status[data-button-status="sold-out"] > :not([data-button-content="sold-out"]) {
    display: none !important;
}
.product-collection__buttons{
	margin-top: 10px !important;
  	align-items: center !important;
  	flex-direction: row !important;
  	flex-wrap: wrap !important;
  	display: flex !important;
}
.product-collection__button-add-to-cart .btn.product-compare__button-add-to-cart .btn, .product-wishlist__button-add-to-cart .btn{
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
}
.product-collection__button-add-to-cart .btn {
    background-color: #fff;
    border-color: #141414;
  	min-height: 35px;
  	color: #141414;
  	padding:8px 20px !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn .icon{
 	width: 20px;
    height: 20px;
    font-size: 16px;
    color: #333; 
}
.btn--status [data-button-content=added] {
    color:$color-link;
}
.product-collection__buttons-section{
  	display: flex !important;
  	padding:0 10px;
}
.product-collection__buttons-section a.btn{
  	padding:0 5px;  
  	outline:0;
    box-shadow: none;
}
.spr-starrating, .spr-icon {
    color: #141414;
  	 opacity: 1;
}
.spr-icon.spr-icon-star-empty {
    opacity: 1!important;
}
.spr-icon {
    font-size: 120%;
    position: relative;
    top: 1px;
    width: 1.3em;
    height: 1.3em;
}
.spr-starrating .spr-icon:not(last-child) {
    margin-right: 4px;
}
.product-collection__reviews .spr>* {
    margin-top: 7px;
}
.loading-element {    
    position: relative !important;
    cursor: progress;
    opacity: 0.5;
}


/* End tab collection*/


/* Banner */
  @media (max-width: 1025px){
    .cat_space_item {
      /*padding-left: 15px;
      padding-right: 15px;*/
      margin-bottom: 30px;
    }
  }
  .nt_promotion {
    overflow: hidden;
    position: relative;
  }
  .nt_promotion  a{
    display: block;
  }
  .nt_promotion.tc{
    text-align:center; 
  }
  .shadow_wrap{
    z-index: 10;
    padding: 10px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: column;
    flex-direction: column;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;    
  }
  .shadow_wrap.tc{
   text-align:center; 
  }
  .shadow_wrap.tl{
    text-align:left; 
  }
  .shadow_wrap.tr{
    text-align:right; 
  }
  .shadow_wrap h3{
    color: #ffffff;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 5px;
  }
  .shadow_wrap h4{
	color: #ffffff;
    line-height: 24px;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
  }
/* End banner */

/* text and image*/
	.nt_img_txt {
      overflow: hidden;
      position: relative;
    }
	.shadow_wrap_img_txt{
      webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #878787;
    }
	.shadow_wrap_img_txt.tc{
     	text-align:center; 
    }
	.shadow_wrap_img_txt.tl{
     	text-align:left; 
    }
	.shadow_wrap_img_txt.tr{
     	text-align:right; 
    }
	.shadow_wrap_img_txt h3{
      line-height: 1;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 30px;
      color: #222;
    }
/* End text and image*/

/* Brand list*/
@media (min-width: 1025px){
	.cat_space_item.brand_list {
      /*padding-left: 15px;
      padding-right: 15px;*/
      margin-bottom: 30px;
    }
}
/* End brand list*/

/* Text column with image*/
  .text_column_with_img .h4 {
    font-weight: 600;
    color: #000;
  }
	

/* End text column with image*/

/* Product countdown banner */

	.nt_promotion .pa{
      top: 50%;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      z-index: 10;
      pointer-events: none;
      position: absolute;
    }
	.nt_promotion .pa h3{
      line-height: 1;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 14px;
      margin: 0;
      margin-bottom: 10px;
    }
	.nt_promotion .pa h4{
      line-height: 1;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 35px;
      margin: 0;
      margin-bottom: 10px;
    }
	.nt_promotion .pa h5{
      line-height: 1;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      margin-bottom: 10px;
    }
	.product_count_down .kt-countdown {
        margin: 15px 0 10px;
      	position:absolute;
      	bottom:0px;
      	left:0px;
      	right:0px;
    }
	.product_count_down .kt-countdown .box-count {
        display: inline-block;
        list-style: none;
        min-width: 45px;
        min-height: 45px;
        text-align: center;
        padding: 2px 5px;
        background-color: #f1f1f1;
        border: solid 1px #e8e8e8;
        margin: 5px;
        border-radius: 3px;
    }
    .kt-countdown .box-count li {
      list-style: none;
    }
	.kt-countdown .box-count .number {
        font-size: 18px;
        font-weight: 700;
        color: #222;
        margin: 0;
    }
	.kt-countdown .box-count .text {
        font-size: 11px;
        color: #aaa;
        margin: -7px 0 0;
    }
    .type_product_countdown_banner .product .product-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px 15px;
      opacity: 0;
      margin-top: 15px;
      transition: .3s;
      visibility: hidden;
      z-index: 1;
    }
	.type_product_countdown_banner .product-info {
      transition: .3s;
      visibility: hidden;
      z-index: 1;     
    }
    .type_product_countdown_banner .product-inner:hover .product-info {
      opacity: 1;
      visibility: visible;
      background: #eee;
    }
    .type_product_countdown_banner .product-info .price {
      font-size: 14px;
      color: rgba(0,0,0,.7);
    }
	.type_product_countdown_banner .product-info .price ins{
      color: #ec0101; 
      margin-left: 10px;
    }
	.type_product_countdown_banner .product_count_down{
      position: relative;
      overflow: hidden;
      text-align:center;
    }
/* End product countdown banner*/

/* Section group */
	.type_section_group h5.widget-title {
      position: relative;
      padding-bottom: 20px;
      margin-top: 0;
      font-size: 18px;
    }
	.type_section_group h5.widget-title:after {
      content: "";
      width: 60px;
      height: 2px;
      background: #222;
      left: 0;
      bottom: 15px;
      position: absolute;
    }
	.type_section_group .product-collection__more-info, .type_section_group .product-collection__buttons, .type_section_group .product-collection__reviews{
      	display:none!important;
    }
/* End section group */

/* Daily deal */
	.type_daily_deal .product-collection__more-info, .type_daily_deal .product-collection__buttons, .type_daily_deal .product-collection__reviews,.type_daily_deal .frm_product_collection{
      	display:none!important;
    }

	.type_daily_deal .product-title a{
        font-size: 14px;
        text-transform: capitalize;
      	font-weight: 700;
      	color:#333;
    }
	.type_daily_deal .product-info .price {
      font-size: 14px;
      color: rgba(0,0,0,.7);
    }
	.type_daily_deal .product-info .price ins{
      color: #ec0101; 
      margin-left: 10px;
    }
	.type_daily_deal .medizin_laypout {
      border: 2px solid #4e97fd;
      border-radius: 5px;
      padding: 0 20px 25px;
      margin-top: 21px;
    }
	.type_daily_deal .medizin_laypout .product-cd-header {
      background: #fff;
      -webkit-transform: translateY(-23px);
      -ms-transform: translateY(-23px);
      transform: translateY(-23px);
      padding: 5px 20px;
      webkit-flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;
      text-align: center;
    }
    .type_daily_deal .medizin_laypout .product-cd-heading {
      line-height: 1.2;
      margin-right: 0;
      margin-bottom: 5px;    
    }
    .type_daily_deal .medizin_laypout .countdown-wrap {
      color: #fff;
      background: #e4573d;
      border-radius: 30px;
      padding: 8px 24px;
      margin-bottom: 5px;
      position: static;
      transform: none;
      -webkit-transform: none;
      align-items: center;
	  display:flex;
    }
	.type_daily_deal .countdown-wrap .box-count{
     	float:left; 
      	padding: 0 5px;
    }
    .type_daily_deal .medizin_laypout .pr_coun_dt {
      font-size: 18px;
      line-height: 1;
      font-weight: 600;
    }
	.type_daily_deal .countdown-label {
      font-weight: 700;
    }
    .type_daily_deal .kt-countdown .box-count .text{
      color: #fff;
      margin: 0;
    }
	.type_daily_deal .kt-countdown .box-count .number{
      color: #fff;     
    }
	.type_daily_deal .slick-track{
      margin-left:0px;
    }
	@media (min-width: 500px){
     .type_daily_deal .medizin_laypout .countdown-label,.type_daily_deal .medizin_laypout .product-cd-heading {
        margin-right: 18px;
      }
    }
	@media (min-width: 768px){
      .type_daily_deal .medizin_laypout .product-cd-heading {
        font-size: 24px;
        font-weight: 600;
      }
    }
/* End daily deal */


/* Collection banner*/

	.type_banner_collection .pr_grid_item {
      margin-bottom:30px;
    }
    .type_banner_collection .nt_products_holder{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .type_banner_collection .pr_grid_item {
		flex: 0 0 50%;
    }
	.type_banner_collection .product-inner{
      	position: relative;
    }
	.type_banner_collection .product-inner .product-image{
      	position: relative;
      	overflow: hidden;
    }
    .type_banner_collection .product-info {
      margin-top: 15px;
    }
    .type_banner_collection .product-title {
      font-size: 14px;
      text-transform: capitalize;
    }
	.type_banner_collection .product-info .price {
      font-size: 14px;
      color: rgba(0,0,0,.7);
    }
	.type_banner_collection .product-info .price ins{
      color: #ec0101; 
      margin-left: 10px;
    }
	.type_banner_collection .product-title a{
        font-size: 14px;
        text-transform: capitalize;
      	font-weight: 700;
      	color:#333;
    }
	.type_banner_collection .display_none{
      display:none;
    }
	.type_banner_collection .slideshow__slide .caption-wrap {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      pointer-events: none;
    }
	.type_banner_collection .tl_md {
      text-align: left;
    }
	.type_banner_collection .tc_md {
      text-align: center;
    }
	.type_banner_collection .tr_md {
      text-align: right;
    }
    .type_banner_collection .caption, .type_slideshow .caption {
      position: absolute;
      padding: 15px;
      width:100%;
    }
	.type_banner_collection .caption h3{
      	font-size: 30px;
      	font-weight: 600;
      	color:#fff;
      	text-transform: none;
    }
	.type_banner_collection .caption h4{
      	font-size: 14px;
      	font-style: italic;
      	font-weight: 400;
      	color:#fff;
      	text-transform: none;
    }
	.type_banner_collection .caption p{
      	font-size: 14px;
      	font-weight: 400;
      	color:#fff;
      	margin:0;
    }
	.type_banner_collection .product-collection__more-info, .type_banner_collection .product-collection__buttons, .type_banner_collection .product-collection__reviews,.type_banner_collection .frm_product_collection{
      	display:none!important;
    }
	.type_banner_collection .cat_banner_img{
      position:relative;
    }
	@media (max-width: 1024px){
      .type_banner_collection .img_slider_block{
		margin-bottom:30px;
      }
    }
	@media (min-width: 768px){
      .type_banner_collection .pa_txts {
        top: 50%;
        width: auto;
        left: 39%;
        transform: translate(-39%, -50%);
        right: auto;
      }
    }
/* End collection banner */

/* Collection list */
	.type_collection_list .cat_space_item {
      /*padding-left: 5px;
      padding-right: 5px;*/
      margin-bottom: 10px;
    }
	.type_collection_list .cat_grid_item__content {
      overflow: hidden;
      position: relative
    }
	.type_collection_list .cat_grid_item__link {
      position: relative;
      overflow: hidden;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      display: block;
    }
	.type_collection_list .cat_grid_item__wrapper{
      position: absolute;
      bottom: 20px;
      left: 50%;
      font-size: 14px;
      font-weight: 600;
      background: #fff;
      color: #222;
      padding: 12px 20px;
      box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
      min-width: 150px;
      text-align: center;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
	.type_collection_list .display-none{
      display:none; 
    }
	.type_collection_list .cat_grid_item__title {
      font-weight: bold;
    }
/*End collection list*/


/* Collection list manual*/
	
	.type_collection_list_manual .cat_space_item {
      margin-bottom: 15px;
  }

/*End collection list*/

/* Collection grid */
	.type_collection_grid .collection_grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
	.type_collection_grid .product-title {
      font-size: 14px;
      text-transform: capitalize;
    }
	.type_collection_grid .product-info .price {
      font-size: 14px;
      color: rgba(0,0,0,.7);
    }
	.type_collection_grid .product-info .price ins{
      color: #ec0101; 
      margin-left: 10px;
    }
	.type_collection_grid .product-title a{
        font-size: 14px;
        text-transform: capitalize;
      	font-weight: 700;
      	color:#333;
    }
    .type_collection_grid .product-collection__more-info, .type_collection_grid .product-collection__buttons, .type_collection_grid .product-collection__reviews,.type_collection_grid .frm_product_collection{
      	display:none!important;
    }
/* End collection grid*/


/* Rich text */
	.type_rich_text .tc{
    	text-align:center;  
    }
    .type_rich_text .tl{
    	text-align:left;  
    }
    .type_rich_text .tr{
    	text-align:right;  
    }
/* End rich text */

/* Shipping text simple */
	.type_shipping_text .shipping_wrap{
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }
	.type_shipping_text .wrap_txt_ship {
      padding: 17px 5px;
      font-size: 15px;
    }
/* End shipping text simple */

/* About us */
  .type_about_us .about_us_img.border_true {
    padding: 10px;
    border: 1px solid #f9f9f9;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
  }
  .type_about_us .about_us_img img {
    width:100%;
  }	
  .about_us_img.border_true>span:after, .about_us_img.border_true>span:before {
    position: absolute;
    background-color: #56cfe1;
    content: '';
    display: inline-block;
    z-index: 2;
  }
  .about_us_img .fr_br_1:before {
    left: 0;
    top: 0;
    width: 2px;
    height: 5%;
  }
  .about_us_img .fr_br_1:after {
    left: 0;
    top: 0;
    height: 2px;
    width: 5%;
  }
  .about_us_img.border_true .fr_br_2:before {
    right: 0;
    top: 0;
    width: 2px;
    height: 5%;
  }
  .about_us_img.border_true .fr_br_2:after {
    right: 0;
    top: 0;
    height: 2px;
    width: 5%;
  }
  .about_us_img.border_true .fr_br_3:before {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 5%;
  }
  .about_us_img.border_true .fr_br_3:after {
    left: 0;
    bottom: 0;
    height: 2px;
    width: 5%;
  }
  .about_us_img.border_true .fr_br_4:before {
    right: 0;
    bottom: 0;
    width: 2px;
    height: 5%;
  }
  .about_us_img.border_true .fr_br_4:after {
    right: 0;
    bottom: 0;
    height: 2px;
    width: 5%;
  }
  .type_about_us .overlay_video{
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .type_about_us .video-control__play {
    visibility: visible;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    pointer-events: none;
    z-index: 4;
    transition: .1s ease-out;
    background-color: #56cfe1;
    border-color: #56cfe1;
    color: #fff;
  }
  .type_about_us  .about_us_img .video-control__play {
    pointer-events: auto;
    z-index: 4;
    color: #fff;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .type_about_us  .video-control__play .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: currentColor;
  }
   .mfp-close-btn-in .mfp-close {
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 0;
    text-align: center;
    font-size: 0;
    display: inline-block;
    opacity: 1;
    background-color: transparent;
}
/* End about us */


/* FAQ'S */
  @media (min-width: 768px){
    .type_faq .sp-tabs {
      padding-top: 0;
    }
  }
	.type_faq .sp-tabs>.sp-tab.des_style_2:first-of-type {
    margin-top: 0;
}
.des_style_2.sp-tab:not(:last-of-type) {
    margin-bottom: 10px;
}
.des_style_2.sp-tab {
    display: block;
}
.faq_des2 .tab-heading .txt_h_tab {
    padding: 0;
}
.des_style_2.sp-tab>.sp-tab-content, .des_style_2.ul_tabs {
    display: none;
}
.nav_link_icon:after, .nav_link_icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
}
.tab-heading .nav_link_icon:before {
    width: 15px;
    height: 2px;
}
.sp-tab.active a>.nav_link_icon:before {
    opacity: 0;
}
.sp-tab.active .tab-heading>.nav_link_icon:after, .sp-tab.active .tab-heading>.nav_link_icon:before {
    -webkit-transform: translate(-50%,-50%) rotate(90deg);
    transform: translate(-50%,-50%) rotate(90deg);
}
.tab-heading .nav_link_icon:after {
    width: 2px;
    height: 15px;
}
.des_style_2.sp-tab.active>.sp-tab-content, .des_style_2.sp-tab>.heading {
    display: block;
}
.faq_des2 .sp-tab .sp-tab-content {
    padding: 20px 30px;
}
.des_style_2.sp-tab>.sp-tab-content {
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-top: 0;
}
.faq_des2 .nav_link_icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.nav_link_icon {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.tab-heading .nav_link_icon {
    width: 44px;
    height: 44px;
    background-color: #222;
    color: #fff;
}
.faq_des2 .sp-tab .tab-heading {
    padding: 10px 30px;
    min-height: 60px;
    webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  	position: relative
}
.type_faq .nt_boxed {
    max-width: 800px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  	position: relative;
  	z-index: 100;
}
/* End FAQ'S */


/* Custom html */
	.code_setting .text-center{
      text-align:center;
    }	
	.code_setting .text-left{
      text-align:left;
    }
	.code_setting .text-right{
      text-align:right;
    }
/* End custom html */

/* Custom section */
	.custom_section{
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }

/* End custom section */


/* Testimonial */
	.quote_slide {
      text-align: center;
    }
	.quote_rating {
      min-height: 22px;
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 10px;
      color: #fec42d;
    }
	.quote_author{
      color: #222;
      font-weight: bold;
    }
    .quote_rating>i {
      margin: 0 .5px;
    }
    .cra2 {
      color: #dedede;
    }
/* End testimonial */


/* Popup video */
	.type_popup_video .nt_img_txt {
      position: relative;
      overflow: hidden;
    }
	.type_popup_video .txt_content {
      z-index: 10;
      padding: 10px;
      webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      pointer-events: auto;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      position: absolute;
      text-align: center;
    }
    .nt_img_txt h4 {
      color: #fff;
      font-size: 60px;
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
    }
	.nt_img_txt h3 {
      color: #fff;
      font-size: 18px;
      font-style: italic;
      line-height: 1;
      margin-top: 0;
      margin-bottom: 30px;
    }
    .txt_content .pa_txts>:last-child {
      margin-bottom: 0;
    }
	.txt_content a.button{
      cursor: pointer;
      border: 2px solid #222;
      padding: 5px 25px;
      background: #fff;
      color: #222;
      border-radius: 40px;
      font-size: 14px;
      font-weight: 600;
      min-height: 40px;
    }
    .txt_content a.button {
      display: inline-block;
      background: 0 0;
    }
/* End popup video*/

/* Iframe video */
	.type_iframe_video .wrapper_button{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      pointer-events: none;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      position: absolute;
      text-align: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: column;
      flex-direction: column;
    }

    .type_iframe_video iframe.lazyloaded {
      z-index: 22;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      max-width: 100%;
    }   
     .type_iframe_video .video-control__play {
      visibility: visible;
      opacity: 1;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      position: relative;
      margin: 0 auto;
      padding: 5px;
      pointer-events: none;
      z-index: 4;
      transition: .1s ease-out;
      background-color: #56cfe1;
      border-color: #56cfe1;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
    }
    .type_iframe_video .video-control__play .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      fill: currentColor;
    }
/* End iframe video */


/* Loobook slider */
	.pin__maker{
      position: relative;
    }
    .type_lookbook_slider .pin__type {
      color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      position: absolute;
      z-index: 10;
      opacity: 1;
      pointer-events: auto;
    }
  .type_lookbook_slider .pin__size--medium {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
.type_lookbook_slider .pin__type .pin_tt {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #65affa;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.type_lookbook_slider .nav_link_icon {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.type_lookbook_slider .nav_link_icon:after, .type_lookbook_slider .nav_link_icon:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotate(-90deg);
    transform: translate(-50%,-50%) rotate(-90deg);
    background-color: currentColor;
    transition: transform .35s ease-in-out,opacity .35s ease-in-out,-webkit-transform .35s ease-in-out;
}
.type_lookbook_slider .nav_link_icon:before {
    width: 12px;
    height: 1px;
    opacity: 1;
}
.type_lookbook_slider .pin__type>div {
    pointer-events: none;
}

.type_lookbook_slider .pin__popup {
    width: 260px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    z-index: 100;
    border-radius: 2px;
    opacity: 0;
}

/* End lookbook slider*/

/* Promotion popup */
	.type_promotion_popup .collection_grid {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .popup_prpr_wrap .wrap_title{
      margin-bottom:10px; 
    }
    .popup_prpr_wrap  .product-info{
     	margin-bottom:5px; 
    }
	.popup_prpr_wrap  .product-title {
      font-size: 14px;
      text-transform: capitalize;
      margin:0px;
    }
	.popup_prpr_wrap  .product-info .price {
      font-size: 14px;
      color: rgba(0,0,0,.7);
    }
	.popup_prpr_wrap .product-info .price ins{
      color: #ec0101; 
      margin-left: 10px;
    }
	.popup_prpr_wrap  .product-title a{
        font-size: 14px;
        text-transform: capitalize;
      	font-weight: 700;
      	color:#333;
    }
	
    .type_promotion_popup .product-collection__more-info, .type_promotion_popup .product-collection__buttons, .type_promotion_popup .product-collection__reviews,.type_promotion_popup .frm_product_collection{
      	display:none!important;
    }
    .popup_prpr_wrap {
      max-width: 950px !important;
      margin: 30px auto;
      padding: 30px;
      background: #fff;
      position: relative;
    }
/* End promotion popup */