// Text colors
$color-text: #e5534c;
$color-body-text: #333333;
$color-sale-text: #222222;
$color-small-button: #ffffff;
$color-small-button-text: #3d4246;
$color-text-field: #fff;
$color-text-field-text: #000;
$color-navigation-text: #e5534c;

// Button colors
$color-btn-primary: #aaaaaa;
$color-btn-primary-text: #ffffff;

// Link buttons and secondary cta
$color-link: $color-text;

// Backgrounds
$color-body: #fff;
$color-bg: #fff;

// Border colors
$color-border: #e6e6e6;
.main-content-blog .content-offset-right {
    float: right;
    margin-top: -48px;
}
.main-content-blog .txt_right{
  	text-align: right; 
}
.main-content-blog .content-offset-left {
    float: left;
    margin-top: -48px;
}
.main-content-blog .blog-grid {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 10px;
}
.blog-grid .post-item {
    margin-bottom: 15px;
}
.post-item .post-format {
    position: relative;
    overflow: hidden;
}
.post-item .post-format a {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.post-item .post-format a::before {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
    content: "";
    border: solid 2px rgba(255,255,255,0.6);
}
.post-item.layout3 .post-format a::before {
    width: 120%;
    height: 120%;
    position: absolute;
    z-index: 2;
    left: -10%;
    top: -10%;
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
    content: "";
    opacity: 0;
    border: solid 50px rgba(0,0,0,0.2);
}
.post-item.layout3 .post-format img {
    width: 100%;
}
.post-item.layout3 .post-format a::after {
    width: 120%;
    height: 120%;
    position: absolute;
    z-index: 1;
    left: -10%;
    top: -10%;
    opacity: 0;
    -webkit-transition: 0.7s ease 0s;
    -moz-transition: 0.7s ease 0s;
    -ms-transition: 0.7s ease 0s;
    -o-transition: 0.7s ease 0s;
    transition: 0.7s ease 0s;
    content: "";
    background-color: transparent;
    border: solid 50px rgba(255,255,255,0.5);
}
.post-item.layout3 .post-info {
    padding: 15px 0;
}
.post-item.layout3 .post-info .head {
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 15px;
}
.post-item .post-info .post-title {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    overflow: hidden;
}
.post-item .post-info .meta-post li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    position: relative;
}
.post-item .post-info .meta-post li:first-child {
    padding-left: 0;
}
.post-item .post-info .meta-post li:last-child {
    padding-right: 0;
}
.post-item.layout3 .post-info .meta-post li {
    padding: 0 20px;
}
.post-item.layout3 .post-info .meta-post .author {
    font-size: 13px;
    color: #666;
}
.post-item.layout3 .post-info .meta-post li:first-child {
    padding-left: 0;
}
.post-item.layout3 .post-info .post-title {
    font-size: 16px;
    color: #222;
}

.post-item.layout3 .post-info .meta-post .time-post {
    color: #999;
    font-size: 13px;
}
.post-item .post-info .des {
    font-size: 13px;
    color: #666;
    line-height: 20px;
    margin: 7px 0 12px;
}
.post-item.layout3 .post-info .des {
    font-size: 14px;
    color: #888;
    line-height: 24px;
    margin: 0 0 10px;
}
.post-item.layout3 .post-info .des {
    margin-bottom: 10px;
}
.post-item .post-info .button {
    font-size: 13px;
    color: #bbb;
}
.post-item.layout3 .post-info .button {
    padding: 0 24px;
    line-height: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    margin-top: 15px;
  	background-color: #e5534c;
}

/*BLOG ITEM*/
.post-item.layout1  {
  border: solid 1px $color-border;
  overflow: hidden;
  background-color: $color-bg;
}
.post-item.layout1 .post-format {
  float: left;
}
.post-item .post-format {
  position: relative;
  overflow: hidden;
}
.post-item .post-format a {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.post-item .post-format a::before {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.5s ease 0s;
     -moz-transition: 0.5s ease 0s;
      -ms-transition: 0.5s ease 0s;
       -o-transition: 0.5s ease 0s;
          transition: 0.5s ease 0s;
  content: "";
  border: solid 2px rgba(255, 255, 255,0.6);
}
.post-item .post-format a:hover::before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}
.post-item.layout2 .post-format a::before {
  width: 0;
  height: 80%;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 10%;
  -webkit-transition: 0.5s ease 0s;
     -moz-transition: 0.5s ease 0s;
      -ms-transition: 0.5s ease 0s;
       -o-transition: 0.5s ease 0s;
          transition: 0.5s ease 0s;
  content: "";
  border-top: solid 5px rgba(255, 255, 255,0.6);
  border-bottom: solid 5px rgba(255, 255, 255,0.6);
  border-left: 0;
  border-right: 0;
}
.post-item.layout2 .post-format a::after {
  width: 80%;
  height: 0;
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 50%;
  -webkit-transition: 0.5s ease 0s;
     -moz-transition: 0.5s ease 0s;
      -ms-transition: 0.5s ease 0s;
       -o-transition: 0.5s ease 0s;
          transition: 0.5s ease 0s;
  content: "";
  border-left: solid 5px rgba(255, 255, 255,0.6);
  border-right: solid 5px rgba(255, 255, 255,0.6);
}
.post-item.layout2 .post-format a:hover::before {
  width: 90%;
  left: 5%;
  right: 5%;
}
.post-item.layout2 .post-format a:hover::after {
  height: 90%;
  top: 5%;
  bottom: 5%;
}
.post-item.layout3 .post-format a::before {
  width: 120%;
  height: 120%;
  position: absolute;
  z-index: 2;
  left: -10%;
  top: -10%;
  -webkit-transition: 0.5s ease 0s;
     -moz-transition: 0.5s ease 0s;
      -ms-transition: 0.5s ease 0s;
       -o-transition: 0.5s ease 0s;
          transition: 0.5s ease 0s;
  content: "";
  opacity: 0;
  border: solid 50px  rgba(0, 0, 0,0.2);
}
.post-item.layout3 .post-format a::after {
  width: 120%;
  height: 120%;
  position: absolute;
  z-index: 1;
  left: -10%;
  top: -10%;
  opacity: 0;
  -webkit-transition: 0.7s ease 0s;
     -moz-transition: 0.7s ease 0s;
      -ms-transition: 0.7s ease 0s;
       -o-transition: 0.7s ease 0s;
          transition: 0.7s ease 0s;
  content: "";
  background-color: transparent;
  border: solid 50px rgba(255, 255, 255,0.5);
}
.post-item.layout3 .post-format a:hover::before {
  height:  100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
.post-item.layout3 .post-format a:hover::after {
  width: calc( 100% - 50px);
  height: calc( 100% - 50px);
  top: 25px;
  left: 25px;
  opacity: 1;
}

.post-item .post-info {
  padding:  30px 20px 20px;
  overflow: hidden;
}
.post-item .post-info .head {
  overflow: hidden;
  padding-bottom: 15px;
}
.post-item .post-date {
  float: left;
  margin-right: 10px;
  width: 40px;
  border-radius: 3px;
  overflow: hidden;
}
.post-item .post-date .day {
  width: 100%;
  font-size: 18px;
  color: $color-body-text;
  line-height: 27px;
  text-align: center;
  background-color: #e9e9e9;
  display: block;
  font-weight: 600;
}
.post-item .post-date .month {
  width: 100%;
  color: $color-btn-primary-text;
  font-size: 11px;
  line-height: 18px;
  display: block;
  text-align: center;
}
.post-item .post-info .post-title {
  font-size: 14px;
  color: $color-body-text;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  overflow: hidden;
}
.post-item .post-info .meta-post li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  position: relative;
}
.post-item .post-info .meta-post li:first-child {
  padding-left: 0;
}
.post-item .post-info .meta-post li:last-child {
  padding-right: 0;
}
.post-item .post-info .meta-post li::after {
  content: "";
  width: 1px;
  height: 14px;;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $color-border;
}
.post-item .post-info .meta-post li:last-child::after {
  display: none;
}
.post-item .post-info .meta-post li a {
  font-size: 13px;
  color: $color-body-text;
}
.post-item .post-info .meta-post li a .icon {
  font-size: 13px;
  color: #888;
  margin-right: 5px;
}
.post-item .post-info .des {
  font-size: 13px;
  color: #666;
  line-height: 20px;
  margin: 7px 0 12px;
}
.post-item .post-info .button {
  font-size: 13px;
  color: #bbb;
}

.post-item.layout2 .post-info{
  padding: 10px 0 0;
}
.post-item.layout2 .post-info .meta-post li a {
  color: $color-btn-primary;
}
.post-item.layout2 .post-date {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 20px;
}

.post-item.layout3 .post-info {
  padding: 15px 0;
}
.post-item.layout3 .post-info .post-title{
  font-size: 16px;
  color: $color-sale-text;
}
.post-item.layout3 .post-info .meta-post .time-post {
  color: #999;
  font-size: 13px;
}
.post-item.layout3 .post-info .meta-post .time-post .day {
  font-weight: 600;
  font-size: 20px;
}
.post-item.layout3 .post-info .meta-post .author {
  font-size: 13px; 
  color: #666;
}
.post-item.layout3 .post-info .meta-post li::after {
  display: none;
}
.post-item.layout3 .post-info .meta-post li {
  padding: 0 20px;
}
.post-item.layout3 .post-info .meta-post li:first-child {
  padding-left: 0;
}
.post-item.layout3 .post-info .head {
  border-bottom: solid 1px $color-border;
  margin-bottom: 15px;
}
.post-item.layout3 .post-info .des {
  font-size: 14px;
  color: #888;
  line-height: 24px;
  margin: 0 0 10px;
}
.post-item.layout3 .post-format img {
  width: 100%;
}
.post-item.layout3 .post-info .button {
  padding: 0 24px;
  line-height: 40px;
  color: $color-btn-primary-text;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
}
.post-item.layout3 .post-info .button:hover {
  background-color: $color-btn-primary;
  color: $color-btn-primary-text;
}
.our-blog .section-head {
  margin-bottom: 10px;
}
.our-blog .owl-carousel.nav-style2 .owl-nav {
  top: -46px;
}
.blog-grid .post-item {
  margin-bottom: 15px;
}
.main-content-blog .sidebar {
    float: left;
}
.sidebar .widget {
    margin-bottom: 35px;
}
.sidebar .widget-search .search-inner {
    position: relative;
}
.sidebar .widget-search .search-info {
    width: 100%;
    position: relative;
    border: solid 1px #e6e6e6;
    padding: 0 45px 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #888;
}
.sidebar .widget-search .search-button {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 30px;
    font-size: 20px;
    color: #555;
    top: 0;
    line-height: 40px;
    display: inline-block;
    text-align: center;
}
.sidebar .widget {
    margin-bottom: 35px;
}
.sidebar .widget-text .content p {
    font-size: 13px;
    color: #666;
    line-height: 20px;
    margin: 0 0 20px;
}
.sidebar .widget-blog-categories .widgettitle {
    margin-bottom: 0;
}
.sidebar .widget > ul > li {
    list-style: none;
    display: list-item;
}
.sidebar .widget .blog-categories li {
    position: relative;
    border-bottom: solid 1px #e6e6e6;
}
.sidebar .widget .blog-categories li:last-child {
    border-bottom: none;
}
.sidebar .widget .blog-categories>li>a {
    font-size: 13px;
    color: #666;
    line-height: 40px;
}
.sidebar .widget .blog-categories>li>a::before {
    display: inline-block;
    float: left;
    margin-right: 5px;
    content: "\f0da";
    font-family: "FontAwesome";
    font-size: 13px;
    color: #666;
}
.widget-recent-post .widgettitle {
    margin: -3px 0 35px;
}
.sidebar .widget .blog-list>li {
    border: none;
    padding-bottom: 0;
}
.sidebar .widget-recent-post>ul>li {
    padding: 20px 0;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 0;
}
.sidebar .widget-recent-post>ul>li:first-child {
    padding-top: 5px;
}
.sidebar .widget .post-item .post-format {
    max-width: 80px;
    float: left;
    margin-right: 10px;
}
.sidebar .widget .post-item .post-info {
    padding: 0;
}
.post-item .post-info .head {
    overflow: hidden;
    padding-bottom: 15px;
}
.sidebar .widget .post-item .post-info .head {
    padding: 0;
}
.sidebar .widget .post-item .post-info .post-title {
    font-size: 13px;
    padding-bottom: 0;
}
.sidebar .widget-bestseller .widgettitle {
    font-weight: 700;
}

.post-limit-width{
	margin-bottom: 15px; 
    display: block;    
    max-width: 772px;
    text-align: center !important;
    margin: 0 auto;
}
.main-content-blog .flex-layout{
  	display: flex;
    flex-wrap: wrap;
}
.main-content-blog .article-body-max-width{
  	flex-basis: 0;
    flex-grow: 1;
  	max-width: 800px;
    margin: 0 auto;
}
.container_cat{
  	margin-top:0px;
  	margin-bottom:0px;
}
.portfolio_filter {
	margin-bottom: 25px;
  	text-align: center;
  	font-weight: 500;
}  
.portfolio_filter a {
  	color: #878787;
    height: 40px;
    line-height: 40px;
    border: 1px solid transparent;
    padding: 0 20px;
  	text-transform: capitalize;
  	border-radius: 40px;
  	display: inline-block;
  	transition: .3s;
}  
.portfolio_filter a.selected {
    color: #222;
    border-color: #222;
}

.portfolio-item{
  	margin-bottom: 30px;
}
.portfolio-item a{
  	position: relative;
  	display: block;
}
.portfolio-item .mask:before {
    content: '';
    position: absolute;
    background: rgba(246,246,246,.9);
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .3s;
    z-index: 1;
}
.portfolio-item:hover .portfolio-title {
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.portfolio-item .pr_lazy_img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .3s,-webkit-transform 8s cubic-bezier(.25,.46,.45,.94);
    transition: opacity .3s,transform 8s cubic-bezier(.25,.46,.45,.94),-webkit-transform 8s cubic-bezier(.25,.46,.45,.94);
  	background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.pr_lazy_img.lazyloaded{
    -webkit-animation: 1.25s cubic-bezier(.26,.54,.32,1) forwards ani-fadeIn;
    animation: 1.25s cubic-bezier(.26,.54,.32,1) forwards ani-fadeIn;
}
.portfolio-item .portfolio-title {
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    padding: 0 30px;
    -webkit-transform: translate(-50%,-120%);
    -ms-transform: translate(-50%,-120%);
    -o-transform: translate(-50%,-120%);
    transform: translate(-50%,-120%);
    z-index: 2;
  	transition: .3s;
  	position: absolute;
  	text-align: center;
}
.portfolio-item .portfolio-title a{
  	color: #222;
  	display:inline-block;
}
.portfolio-item .portfolio-title h4{
  	text-transform: uppercase;
  	font-size: 14px;
  	margin: 0;
  	color: #222;
    font-weight: bold
}

/*WIDGET*/
.widgettitle {
  font-size: 15px;
  color: $color-sale-text;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.widget-recent-post .widgettitle {
  margin: -3px 0 35px;
}
.list-recent-posts > li {
  display: list-item;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.list-recent-posts .product-item .thumb {
  float: left;
  margin-right: 10px;
  max-width: 82px; 
}
.list-recent-posts .product-item .thumb a {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.list-recent-posts .product-item .thumb a::before {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  -webkit-transition: 0.5s ease 0s;
     -moz-transition: 0.5s ease 0s;
      -ms-transition: 0.5s ease 0s;
       -o-transition: 0.5s ease 0s;
          transition: 0.5s ease 0s;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1;
}
.list-recent-posts .product-item:hover .thumb a::before {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.list-recent-posts .product-item .info {
  padding: 0;
  margin-bottom: 0;
}
.list-recent-posts .product-item .info::before {
  display: none;
}
.list-recent-posts .product-item .product-name {
  min-height: 1px;
  margin-top: -3px;
}
.list-recent-posts .product-item .rating {
  margin-bottom: -5px;
}
.list-recent-posts .product-item .rating .list-star {
  padding: 0 5px 0 0;
}
.list-recent-posts .product-item .rating .list-star li a,
.list-recent-posts .product-item .rating .count {
  font-size: 12px;
}

/*BLOG*/
.sidebar .widget .post-item .post-format {
  max-width: 80px;
  float: left;  
  margin-right: 10px;
}
.sidebar .widget .post-item .post-info {
  padding: 0;
}
.sidebar .widget .post-item .post-info .post-title {
  font-size: 13px;
  padding-bottom: 0;
}
.sidebar .widget .post-item .post-info .head {
  padding: 0;
}
.sidebar .widget .post-item .post-info .meta-post {
  padding: 0;
}
.sidebar .widget .post-item .post-info .meta-post li a {
  color: $color-btn-primary;
}
.sidebar .widget  .blog-list > li {
  border: none;
  padding-bottom: 0;
}
.sidebar .widget-bestseller .widgettitle {
  font-weight: 700;
}
.sidebar .widget-bestseller .owl-carousel.nav-style2 .owl-nav {
  top: -56px;
}
.sidebar .widget-blog-categories .widgettitle {
  margin-bottom: 0;
}
.sidebar .widget .blog-categories li{
  position: relative;
  border-bottom: solid 1px $color-border;
}
.sidebar .widget .blog-categories li:last-child {
  border-bottom: none;
}
.sidebar .widget .blog-categories > li > a::before {
  display: inline-block;
  float: left;
  margin-right: 5px;
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 13px;
  color: #666;
}
.sidebar .widget .blog-categories > li > a {
  font-size: 13px;
  color: #666;
  line-height: 40px;
}
.sidebar .widget-text .content p {
  font-size: 13px;
  color: #666;
  line-height: 20px;
  margin: 0 0 20px;
}
.sidebar .widget-search .search-inner {
  position: relative;
}
.sidebar .widget-search .search-info {
  width: 100%;
  position: relative;
  border: solid 1px $color-border;
  padding: 0 45px 0 15px;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #888;
}
.sidebar .widget-search .search-button {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 30px;
  font-size: 20px;
  color: #555;
  top: 0;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}

.main-content-blog .blog-grid {
  border-bottom: solid 1px $color-border;
  padding-bottom: 10px;
}
.main-content-blog .pagination {
  float: right;
  margin-bottom: 40px;
}
.main-content-blog .sidebar {
  float: left;
}
.main-content-blog .content-offset {
  float: right;
  margin-top: -48px;
}
.post-item.layout3 .post-info .des-title {
  font-size: 14px;
  color: $color-sale-text;
  font-weight: 600;
  margin-bottom: 10px;
}
.post-item.layout3 .post-info .des {
  margin-bottom: 10px;
}

.main-content-blog .tags {

}
.main-content-blog .tags .title {
  font-size: 14px;
  color: $color-sale-text;
}
.main-content-blog .tags .title a {
  color: #666;
}
.main-content-blog .tags .top-comment {
  border: solid 1px $color-border;
  padding: 15px;
  overflow: hidden;
  background-color: #fdfdfd;
  margin: 15px 0 55px;
}
.main-content-blog .tags .top-comment .avata {
  float: left;
  margin-right: 15px;
}
.main-content-blog .tags .top-comment .comment-content {
  overflow: hidden;
}
.main-content-blog .tags .top-comment .comment-content .name {
  font-size: 16px;
  font-weight: 600;
  color: $color-sale-text;
  margin: 12px 0;
}
.main-content-blog .tags .top-comment .comment-content .comment {
  font-size: 14px;
  line-height: 20px;
  color: #888;
  margin: 23px 0 15px;
}
.main-content-blog .comment-item {
  border: solid 1px $color-border;
  padding: 20px;
  margin-bottom: 30px;
}
.main-content-blog .comment-item .name{
  float: left;
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin-right: 5px;
}
.main-content-blog .comment-item .time {
  font-size: 14px;
  color: #666;
  float: left;
  margin-right: 35px;
}
.main-content-blog .comment-item .meta-post li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}
.main-content-blog .comment-item .meta-post li a {
  font-size: 13px;
  color: #888;
}
.main-content-blog .comment-item .meta-post li a .icon {
  margin-right: 5px;
}
.main-content-blog .comment-item .comment {
  font-size: 14px;
  color: #888;
  line-height: 20px;
  overflow: hidden;
  margin: 15px 0 10px;
}
.main-content-blog .list-comment .title {
  color: #000;
  border-bottom: solid 1px $color-border;
  padding-bottom: 18px;
  margin: 25px 0 35px;
}
.main-content-blog .list-comment .label-text {
  color: $color-sale-text;
  font-weight: 600;
}
.main-content-blog .list-comment .group-button {
  margin: 0;
}
.main-content-blog .list-comment {
  margin: 0;
  padding-bottom: 40px;
}
@media(min-width: 1025px) {
	.container_cat.cat_full{
      max-width: 100%;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
    .container_cat.cat_wide{
      max-width: 1600px;
    }

}
