<div class="main-content shop-page about-page">
  <div class="container">
    
    {% include 'breadcrumb'%}
    
    <div class="page-width main-content shop-page ">
      <div class="grid container">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <div class="section-header text-center">
            <h1>{{ page.title }}</h1>
          </div>

          <div class="rte">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
